version: '3.8'

services:
  nginx-server:
    build:
      context: ./web
      dockerfile : Dockerfile
    ports:
    - "80:80"
    - "443:443"
    volumes:
      - /etc/certificates:/etc/certificates
    depends_on:
      - back-end

  back-end:
    build: 
      context: ./server
      dockerfile: Dockerfile
    ports:
      - 4000:4000
    restart: always
    depends_on:
      - database

  database:
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - '6432:5432'
    volumes: 
      - ./server/dbdata:/var/lib/postgresql/data
