<div class="flex flex-wrap mt-4">
  <div class="w-full mb-12 px-4">
    <div
      class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
      [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'"
    >
      <div class="rounded-t mb-0 px-4 py-3 border-0">
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-4 max-w-full flex-grow flex-1">
            <h3
              class="font-semibold text-lg"
              [ngClass]="color === 'light' ? 'text-blueGray-700' : 'text-white'"
            >
              <span *ngIf="type === 'FORM'">Invoices</span>
              <span *ngIf="type === 'QUOTE'">Quotes </span>
            </h3>
          </div>
        </div>
        <div
           id="quotes_res" class="relative w-full px-4 max-w-full flex-grow flex-1 text-right"
        >
          <input
            type="text"
            class="form-control"
            placeholder="Search by customer name, email, phone and address"
            style="
              float: left;
              border-radius: 10px;
              height: 36px;
              width: 60%;
              border: 1px solid #c7c2c2;
            "
            [(ngModel)]="searchTerm"
          />
        
          <button
            class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
            (click)="search()"
            style="margin-left: 10px; float: left"
          >
            Search
          </button>
          <button
            class="bg-red-600 text-white active:bg-aqua-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
            (click)="clear()"
            style="margin-left: 10px; float: left"
          >
            Clear
          </button>
          <a
            [routerLink]="['/collect/feedback', { type: type }]"
            class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
          >
            Create
          </a>
        
        </div>
      </div>
      <div class="block w-full overflow-x-auto">
        <!-- Projects table -->
        <table class="items-center w-full bg-transparent border-collapse">
          <thead>
            <tr>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                "
              >
                Action
              </th>
              <th
                
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                "
              >
                <span>Edit</span>
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                "
              >
                ID
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                "
              >
                Captured On
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                "
              >
                Customer Details
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                "
              >
                Address Details
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                "
              >
                Amount<br />(CAD)
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                "
              >
                Discount<br />
                (CAD)
              </th>

              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                "
              >
                Final Amount<br />(CAD)
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="totalCount !== 0; else noDataAvail">
              <tr
                *ngFor="
                  let feedback of feedbackListData
                    | paginate
                      : {
                          itemsPerPage: 10,
                          currentPage: page,
                          totalItems: totalCount
                        }
                "
              >
                <!-- View Invoice/Quote-->
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right"
                  
                >
                  <a
                    [href]="getInvoiceUrl(feedback)"
                    style="color: dodgerblue"
                    target="m1"
                  >
                    <span style="cursor: pointer">
                      <svg
                        class="svg-icon"
                        viewBox="0 0 20 20"
                        style="width: 65%"
                      >
                        <path
                          d="M10,6.978c-1.666,0-3.022,1.356-3.022,3.022S8.334,13.022,10,13.022s3.022-1.356,3.022-3.022S11.666,6.978,10,6.978M10,12.267c-1.25,0-2.267-1.017-2.267-2.267c0-1.25,1.016-2.267,2.267-2.267c1.251,0,2.267,1.016,2.267,2.267C12.267,11.25,11.251,12.267,10,12.267 M18.391,9.733l-1.624-1.639C14.966,6.279,12.563,5.278,10,5.278S5.034,6.279,3.234,8.094L1.609,9.733c-0.146,0.147-0.146,0.386,0,0.533l1.625,1.639c1.8,1.815,4.203,2.816,6.766,2.816s4.966-1.001,6.767-2.816l1.624-1.639C18.536,10.119,18.536,9.881,18.391,9.733 M16.229,11.373c-1.656,1.672-3.868,2.594-6.229,2.594s-4.573-0.922-6.23-2.594L2.41,10l1.36-1.374C5.427,6.955,7.639,6.033,10,6.033s4.573,0.922,6.229,2.593L17.59,10L16.229,11.373z"
                        ></path>
                      </svg>
                    </span>
                  </a>
                </td>
                <!-- (click)="
                        markQuoteAsInvoice(
                          feedback.formId,
                          feedback.invoiceUuid
                        )
                      " -->
                <!--Edit-->
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right"
                  
                  [routerLink]="[
                    '/collect/feedback',
                    { formId: feedback.formId, type: type }
                  ]"
                >
                  <a>
                    <span style="cursor: pointer">
                      <svg
                        class="svg-icon"
                        viewBox="0 0 20 20"
                        style="width: 90%"
                      >
                        <path
                          d="M18.303,4.742l-1.454-1.455c-0.171-0.171-0.475-0.171-0.646,0l-3.061,3.064H2.019c-0.251,0-0.457,0.205-0.457,0.456v9.578c0,0.251,0.206,0.456,0.457,0.456h13.683c0.252,0,0.457-0.205,0.457-0.456V7.533l2.144-2.146C18.481,5.208,18.483,4.917,18.303,4.742 M15.258,15.929H2.476V7.263h9.754L9.695,9.792c-0.057,0.057-0.101,0.13-0.119,0.212L9.18,11.36h-3.98c-0.251,0-0.457,0.205-0.457,0.456c0,0.253,0.205,0.456,0.457,0.456h4.336c0.023,0,0.899,0.02,1.498-0.127c0.312-0.077,0.55-0.137,0.55-0.137c0.08-0.018,0.155-0.059,0.212-0.118l3.463-3.443V15.929z M11.241,11.156l-1.078,0.267l0.267-1.076l6.097-6.091l0.808,0.808L11.241,11.156z"
                        ></path>
                      </svg>
                    </span>
                  </a>
                </td>

                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  {{ feedback.formId }}
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  {{ feedback.createdAt | date : "dd-MM-YYYY HH:MM a" }}
                </td>
                <th
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center"
                >
                  <span
                    class="ml-3 font-bold"
                    [ngClass]="
                      color === 'light' ? 'text-blueGray-600' : 'text-white'
                    "
                  >
                    {{ feedback.customerName }}<br />
                    {{ feedback.customerEmail }}<br />
                    {{ feedback.customerPhone }}
                  </span>
                </th>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  <span
                    class="ml-3 font-bold"
                    [ngClass]="
                      color === 'light' ? 'text-blueGray-600' : 'text-white'
                    "
                  >
                    {{ feedback.customerAddress }}, {{ feedback.customerCity }},
                    {{ feedback.customerProvince }},
                    {{ feedback.customerPostalCode }}
                  </span>
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  <!-- <i class="fas fa-circle text-orange-500 mr-2"></i> -->
                  {{ feedback.total }}
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  <span
                    class="ml-3 font-bold"
                    [ngClass]="
                      color === 'light' ? 'text-blueGray-600' : 'text-white'
                    "
                  >
                    {{ feedback.discount | number}}
                  </span>
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  <div class="flex items-center">
                    {{ feedback.final_amount }}
                  </div>
                </td>
                <!-- <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right"
                >
                  <a
                    [href]="getInvoiceUrl(feedback)"
                    style="color: dodgerblue"
                    target="m1"
                  >
                    View
                  </a>
                </td> -->
              </tr>
            </ng-container>
            <ng-template #noDataAvail>
              <tr>
                <td colspan="7" class="text-center">No Data Available</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onPageChange($event)"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
  <!-- <div class="w-full mb-12 px-4">
        <app-card-table color="dark"></app-card-table>
    </div> -->
</div>
