<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-6/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
      >
        <div class="rounded-t mb-0 px-6 py-6">
          <div class="text-center mb-3">
            <h6 class="text-blueGray-500 text-sm font-bold">Register</h6>
          </div>
          <hr class="mt-6 border-b-1 border-blueGray-300" />
        </div>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <form [formGroup]="registerationForm">
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Company Name *
              </label>
              <input
                type="email"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Company Name"
                formControlName="companyName"
              />
              <div
                *ngIf="submitted && f['companyName'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['companyName'].errors['required']">
                  Company Name is required
                </div>
              </div>
            </div>
            <div class="flex flex-wrap">
              <div class="w-full lg:w-6/12 px-1">
                <div class="relative w-full mb-3">
                  <label
                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    htmlFor="grid-password"
                  >
                    Govt. Registered Business Id *
                  </label>
                  <input
                    type="text"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    placeholder="Government Registered Business Id"
                    formControlName="governmentBusinessId"
                  />
                  <div
                    *ngIf="submitted && f['governmentBusinessId'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['governmentBusinessId'].errors['required']">
                      Govt. Registered Business Id is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-full lg:w-6/12 px-2">
                <div class="relative w-full mb-3">
                  <label
                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    htmlFor="grid-password"
                  >
                    Govt. Registered Business Proof *
                  </label>
                  <input
                    type="file"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    (change)="onFilechange($event)"
                  />
                </div>
              </div>
            </div>

            <div class="flex flex-wrap">
              <div class="w-full lg:w-6/12 px-1">
                <div class="relative w-full mb-3">
                  <label
                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    htmlFor="grid-password"
                  >
                    First Name *
                  </label>
                  <input
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    placeholder="First Name"
                    formControlName="firstName"
                  />
                  <div
                    *ngIf="submitted && f['firstName'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['firstName'].errors['required']">
                      First Name is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-full lg:w-6/12 px-2">
                <div class="relative w-full mb-3">
                  <label
                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    htmlFor="grid-password"
                  >
                    Last Name *
                  </label>

                  <input
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    placeholder="Last Name"
                    formControlName="lastName"
                  />
                  <div
                    *ngIf="submitted && f['lastName'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['lastName'].errors['required']">
                      Last Name is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-wrap">
              <div class="w-full lg:w-6/12 px-1">
                <div class="relative w-full mb-3">
                  <label
                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    htmlFor="grid-password"
                  >
                    Email *
                  </label>
                  <input
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    placeholder="Email"
                    formControlName="email"
                  />
                  <div
                    *ngIf="submitted && f['email'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['email'].errors['required']">
                      * Email is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-full lg:w-6/12 px-2">
                <div class="relative w-full mb-3">
                  <label
                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    htmlFor="grid-password"
                  >
                    Mobile No *
                  </label>

                  <input
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    placeholder="Mobile No"
                    formControlName="mobileNo"
                  />
                  <div
                    *ngIf="submitted && f['mobileNo'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['mobileNo'].errors['required']">
                      * Mobile No is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-wrap">
              <div class="w-full lg:w-6/12 px-1">
                <div class="relative w-full mb-3">
                  <label
                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    htmlFor="grid-password"
                  >
                    Password *
                  </label>
                  <input
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    type="password"
                    placeholder="Password"
                    formControlName="password"
                  />
                  <div
                    *ngIf="submitted && f['password'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['password'].errors['required']">
                      * Password is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-full lg:w-6/12 px-2">
                <div class="relative w-full mb-3">
                  <label
                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    htmlFor="grid-password"
                  >
                    Confirm Password *
                  </label>

                  <input
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    placeholder="Confirm Password"
                    type="password"
                    formControlName="confPassword"
                  />
                  <div
                    *ngIf="submitted && f['confPassword'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['confPassword'].errors['required']">
                      * Confirm Password
                    </div>
                    <div *ngIf="registerationForm.errors['mismatch']">* Password mismatch</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center mt-6">
              <button
                class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="button"
                (click)="onSubmit()"
              >
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
